.lottery-item {
    border-bottom: 1px solid #888;
    padding: 2px 4px;
    .expect {
        width: 60px;
        margin-right: 20px;
    }
    .te-danshuang {
        text-align: center;
        width: 30px;
        margin-left: 20px;
    }
    .kaijiang-date {
        width: 100px;
        margin-left: 20px;
    }
}
.code-num-box {
    margin: 2px;
    text-align: center;
    .code-num {
        width: 28px;
        height: 28px;
        line-height: 28px;
        box-sizing: border-box;
        font-size: 14px;
        color: white;
        border-radius: 50%;
        &.blue {
            background-color: blue;
        }
        &.red {
            background-color: red;
        }
        &.green {
            background-color: green;
        }
    }
    .code-zodiac {
        font-size: 12px;
    }
    
    &:last-child {
        margin-left: 20px;
        font-weight: bold;
    }
}